@using Microsoft.AspNetCore.Identity
@using MiauCore.IO.Domain.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link asp-href-include="~/css/custom-bootstrap.css" rel="stylesheet" />
  </head>
  <body>
    <header class="navbar navbar-inverse">
      @if (SignInManager.IsSignedIn(User))
      {
        <form id="logoutForm" class="container-fluid text-right" asp-area="Admin" asp-controller="Login" asp-action="LogOff" method="post">
          <a class="btn btn-link" asp-controller="Manage/Index" title="Manage">Hello, @UserManager.GetUserName(User)</a>
          <button class="btn btn-inverse navbar-btn navbar-link" type="submit">Log off</button>
        </form>
      }
    </header>


    <main role="main">
      @RenderBody()
    </main>
    @RenderSection("scripts", false)
  </body>
</html>
